<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    
</head>

<body>
    
    <div id="navbar-container">
        <%- include('navbar') %>
    </div>
    <div class="container d-flex justify-content-center bg-body-secoundary">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h1>About Us</h1>
            <p>
                In 2017, we aimed to help travelers stay connected. Today, with the support of our users, Zpicka has evolved
                into something more. Zpicka isn't just about travel essentials; it's about gear that enhances the travel
                experience. Our mission is to create a travel aesthetic that is convenient, practical, and urban, allowing
                travelers to start every journey stress-free.
            </p>
    
            <p>
                As a travel gear aesthetician, Zpicka is dedicated to ensuring that every traveler feels confident and
                prepared for their next exploration. We strive to empower Zpicka users, as global citizens, to explore both
                within and beyond themselves, discovering life's myriad possibilities without the anxiety of being on the
                go. Our products are designed not just to meet your basic travel needs but to elevate your overall travel
                experience.
            </p>
    
            <p>
                Our values guide everything we do:
            </p>
    
            <ul class="text-start d-inline-block">
                <li><strong>High Quality</strong>: We don’t just offer high-quality products; we provide a premium travel experience for every journey.</li>
                <li><strong>Easy to Go</strong>: We make travel easier and more enjoyable, from packing to returning and throughout the entire journey.</li>
                <li><strong>Exploration & Innovation</strong>: We constantly seek new possibilities in product innovation, while also supporting travelers on their journey of self-discovery and life experiences.</li>
            </ul>
    
            <p>
                With Zpicka, every trip becomes more than just a journey—it becomes an integral part of your life's
                exploration.
            </p>
        </div>
    </div>
    <div id="footer-container">
        <%- include('footer') %> <!-- EJS partial for footer -->
      </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Slick JavaScript -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/code.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>