<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-transparent" id="navbar-container">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="logo logo mx-sm-0">
                <img src="/img/logo.png" alt="" />
            </div>
    
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 text-center fw-bold">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item dropdown fw-bold">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/contact_us">CONTACT US</a></li>
                            <li><a class="dropdown-item" href="/about">ABOUT US</a></li>
                            <li><a class="dropdown-item" href="/pasport">#ZIPICKA PASSPORT</a></li>
                            <li><a class="dropdown-item" href="/why_choos">WHY CHOOSE ZIPICKA?</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cooperations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/bluk">Bulk purchase</a></li>
                            <li><a class="dropdown-item" href="/dealer">Dealership</a></li>
                            <li><a class="dropdown-item" href="/affiliate">Affiliate Program</a></li>
                            <li><a class="dropdown-item" href="/Ambassador">Zipicka Ambassador</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Buying guide
                        </a>
                        <ul class="dropdown-menu fw-bold">
                            <li><a class="dropdown-item" href="/guide">Guide to Zipick Series</a></li>
                            <li><a class="dropdown-item" href="/tips">Essential tip for travel</a></li>
                            <li><a class="dropdown-item" href="/customize">How to customize your travel adapter?</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Events">Events</a>
                    </li>
                    <!-- Language Dropdown -->
                    <li class="nav-item">
                        <select name="" class="language nav-link">
                            <option value="">English</option>
                            <option value="">French</option>
                            <option value="">German</option>
                        </select>
                    </li>
    
                    <!-- Currency Dropdown -->
                    <div class="dropdown">
                        <div class="form">
                            <div class="select-container text-dark">
                                <img id="country-flag" src="https://flagsapi.com/US/flat/64.png" alt="Flag" />
                                <select name="from" id="currency-dropdown">
                                    <!-- Country options will be populated here -->
                                </select>
                            </div>
                        </div>
                    </div>
    
                </ul>
            </div>
    
            <div class="d-flex search gap-3 gap-lg-5">
                <div class="search-bar">
                    <i class="fa fa-search" id="search-icon"></i>
                    <input type="text" id="search-input" placeholder="Search..." class="search-input" style="display: none;" />
                </div>
                <div class="search-bar">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
    
        <!-- "No such result found" message -->
        <div id="no-result" style="display: none; color: red; text-align: center; font-weight: bold;">No such result found</div>
    </nav>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Slick JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- This should be at the bottom -->
    <script src="./js/navbar.js"></script> 
    <script src="./js/code.js"></script>


</body>

</html>