<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>why_choose</title>
  <link rel="icon" href="./logo.png" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/css/why_choose.css">



</head>

<body>
  <div id="navbar-container">
        <%- include('navbar') %>
    </div>
  <div class="container content-section">
    <h2 class="section-header">Why Choose Zipicka?</h2>

    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <p class="lead paragraph-text">
                We understand that traveling can be stressful, especially when it comes to international travel. That's why we want to make your travel experience smoother and stress-free. At <span class="highlight">Zipicka</span>, our goal is to be your travel partner and make sure you have one less thing to worry about.
            </p>

            <p class="paragraph-text">
                At <span class="highlight">Zipicka</span>, we are a small company that focuses solely on travel. We understand that travel can be a source of stress and worry, especially when it comes to staying connected and keeping your devices charged. Our mission is simple: to make your travel experience as stress-free as possible.
            </p>

            <p class="paragraph-text">
                We recognize that one of the common challenges travelers face is finding reliable charging solutions for their devices while on the go. That's why we have dedicated ourselves to excel in one area: providing the best charging solutions for travelers.
            </p>
        </div>

        <div class="col-12 col-md-6">
            <p class="paragraph-text">
                With our range of innovative and high-quality travel chargers, we aim to ensure that you never have to worry about running out of battery or finding a compatible charging outlet again. We have carefully designed our products to meet the specific needs of travelers, offering convenience, versatility, and reliable performance.
            </p>

            <p class="paragraph-text">
                So let us be your travel partner and take care of the details while you focus on creating memories that will last a lifetime.
            </p>
        </div>
    </div>
</div>


<div id="footer-container">
    <%- include('footer') %> <!-- EJS partial for footer -->
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Slick JavaScript -->

  <script src="/js/code.js"></script>
  <script src="/js/app.js"></script>

</body>

</html>